<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
<h2>Set a New Password</h2>
<form method="post">
    {% csrf_token %}
    <input type="password" name="new_password1" placeholder="New Password" required>
    <input type="password" name="new_password2" placeholder="Confirm New Password" required>
    <button type="submit">Reset Password</button>
</form>
{% endblock %}
</body>
</html>